# VS Code
.vscode/

# ROS2 / colcon build artifacts
build/
install/
log/

# Compiled objects
*.o
*.so
*.a
*.pyc
__pycache__/
# Build generated compile commands
compile_commands.json

# MuJoCo runtime logs
MUJOCO_LOG.TXT
*.log
